body {
    font-family: papyrus;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    font-family: papyrus;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, select, button {
    font-family: papyrus;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-family: papyrus;
    background-color: #00ff08;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #00ff08;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}
